{% extends 'base.html' %}

{% block content %}

<h2 >VERSION 1.0.0</h2>
 	<hr>
	<h3 style="color: #feda6a;">Welcome to our website! We are a group of enthusiastic individuals driven by the common goal of making a positive impact on society. Our team consists of four dedicated members who have come together to create innovative solutions and contribute to the betterment of our communities.</h3>
	<hr>
 	<h3 style="color: #feda6a;">Our Creator Team:</h3>
 	<hr>
 	<ul style=" font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
		<li style=" color:#ff8500" >Ketan Sandbhor</li>
		<h5 style="color: #feda6a;">Ketan is a passionate advocate for social change. With a background in technology and a deep understanding of community needs, he strives to develop practical and effective solutions that address societal challenges. Ketan's expertise lies in project management and collaborative problem-solving.</h5>
		<li style=" color:#ff8500">Vedant Bhosale</li>
		<h5 style="color: #feda6a;"> Vedant is a creative thinker with a keen eye for detail. He is committed to finding innovative ways to address social issues and create positive change. With a background in design and user experience, Vedant ensures that our solutions are not only functional but also user-friendly and accessible to all.</h5>
		<li style=" color:#ff8500">Mitesh Parab</li>
		<h5 style="color: #feda6a;">Mitesh brings his expertise in research and analysis to our team. He is dedicated to identifying pressing societal issues and conducting in-depth research to develop informed and impactful strategies. Mitesh's analytical skills and passion for data-driven decision-making contribute to the effectiveness of our projects.</h5>
		<li style=" color:#ff8500">Jeet Patel</li>
		<h5 style="color: #feda6a;"> Jeet is a dynamic individual with a strong drive to make a difference. With a background in marketing and communication, he plays a vital role in spreading awareness about our initiatives and engaging with stakeholders. Jeet's effective communication skills help us connect with the community and build meaningful partnerships.
		</h5>

		<h4 style="color: #feda6a;">At our core, we believe that collaboration and collective effort are key to creating a better future. By leveraging our diverse skills and experiences, we aim to develop sustainable solutions that address a wide range of social challenges, including but not limited to education, healthcare, environmental conservation, and community development.</h4>
		<h4 style="color: #feda6a;">Thank you for visiting our website. We look forward to collaborating with you and making a meaningful change in the world.
</h4><h4 style="color: #feda6a;">Version 1.0.0</h4>
  	</ul>
	<hr>

		
		
{% endblock %}
